*{
	margin: 0px;
	text-decoration: none;
}
.Make{
	background: darkgreen;
	color: white;
	width: 50%;
	text-align: center;
}
h2{
	font: bold 30px darkgreen Arial;
	margin-top: 70px;
	margin-bottom: 50px;
	padding: 10px 2px;
}
.form{

	width: 50%;
	margin-left: 65px;
	font-size: 18px;
	
}
.form input{
	width: 75%;
	padding: 10px;
	margin-bottom: 50px;
	margin-top: 20px;
	display: inline-flex;
}
.submit{
	background: green;
	padding: 8px;
	margin-top: 10px;
	color: white;
	font-size: 18px;
	width: 10%;
	cursor: pointer;

}
.bid-pop h6{
	color: red;
	margin-top: 50px;
}

.butClose1{
	font: bold 20px arial;
	background: red;
	color: white;
	padding: 0px 5px;
	height: 30px;
	width: 25%;
	text-align: center;
	display: inline-flex;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	align-items: center;
	position: relative;
	top: 20px;
	cursor: pointer;
}
.butClose1 h4{
	text-align: center;
}
.bid-pop1{
	width: 25%;
	height: 200px;
	color: red;
	background: white;
	text-align: center;
	font: bold 30px arial;
	align-items: center;
	box-shadow: currentColor;
	position: absolute;
	top: 200px;
	left: 200px;
	opacity: 0;
	transform: scale(0.1);

}
.bid-pop1 h6{
	width: 90%;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
.bid-pop2{
	width: 25%;
	height: 350px;
	color: green;
	background: white;
	text-align: center;
	font: bold 30px arial;
	align-items: center;
	border: solid 2px grey;
	box-shadow: currentColor;
	position: absolute;
	top: 200px;
	left: 200px;
	opacity: 0;
	transform: scale(0.1);
	transition: 2s;

}
.ok{
	font: bold 20px arial;
	background: green;
	color: white;
	padding: 0px 5px;
	height: 30px;
	width: 25%;
	text-align: center;
	display: inline-flex;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	align-items: center;
	position: relative;
	top: 20px;
	cursor: pointer;
	text-decoration: none;
}
.ok a{
	text-align: center;
	color: white;
	margin: auto;
}